<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABvdyaLTcbEeYAuzziRYtEEb2CMy17Jjc</string>
	<key>GCM_SENDER_ID</key>
	<string>360381455571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yunjikim.Boopee</string>
	<key>PROJECT_ID</key>
	<string>boopee-acc90</string>
	<key>STORAGE_BUCKET</key>
	<string>boopee-acc90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360381455571:ios:b9235d8d6bc06f94cd8826</string>
</dict>
</plist>